.video-item {
    border: 2px solid rgb(29, 188, 188);
    border-radius: 5px;
    margin-bottom: 5px;
    max-width: 400px;
    margin-top: 20%;
    text-align: center;
    padding: 15px;
    background-color:#1976d2;
    color: white;
    cursor: pointer;

    &.selected {
        background-color: rgb(66, 184, 66);
        color: white;
      }
}
