<section class="card marginTop">
    <div class="card-content marginTop">
        <div>
            <label for="video-search">Filter Video List: </label>
            <input id="video-search" [formControl]="videoSearch" />
          </div>
        <!-- <form [formGroup]="videoSearch">
            <div>
                <h1>Filter Views:</h1>
                <h3>Region</h3>
                <div id="regionRadioBtns">
                    <label for="radioUSA">
                        <input id="radioUSA" type="radio" value="North America" formControlName="region" />
                        <span>North America</span>
                    </label>
                </div>
                <div>
                    <label for="europe">
                        <input id="europe" type="radio" value="Europe" formControlName="region" />
                        <span>Europe</span>
                    </label>
                </div>
                <div>
                    <label for="asia">
                        <input id="asia" type="radio" value="Asia" formControlName="region" />
                        <span>Asia</span>
                    </label>
                </div>
                <div>
                    <label for="all">
                        <input id="all" type="radio" value="All" formControlName="region" />
                        <span>All</span>
                    </label>
                </div>
            </div>
        </form> -->
    </div>
</section>